.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: cadetblue;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
ul ,  a {
    list-style: none;
    text-decoration: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;

}
ul li a  {
    color: darkorchid;
    margin: 30px ;
}

.modalPopup {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}